.App {
  text-align: center;
}

*{
  margin: 0px;
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 260px;
  height: 400px;
  padding: 12px 8px;
  background-color: rgba(245, 245, 245, 1);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  position: absolute;
  top: 10%;
  left: 30%;
  overflow: hidden;
}

.keyboard{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.keyboard .row{
  display: flex;
  gap: 4px;
}

.keyboard button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 40px;
  background-color: white;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  color: #404040;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.keyboard button svg{
  pointer-events: none;
}

.keyboard button svg path{
  pointer-events: none;
  fill: #0085A6;
}

.keyboard button.default svg path{
  pointer-events: none;
  fill: #404040;
}

.keyboard button:active {
  background-color: #F5F5F5 !important;
  color: #808080 !important;
  transform: translateY(0.5px);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
}

.keyboard button:active svg path{
  fill: #808080 !important;
}

.keyboard button:hover{
  background-color: #f5f5f5;
}

.keyboard button.primary{
  background-color: #0085A6;
}

.keyboard button.primary svg path{
  fill: #FFFFFF;
}

.keyboard button.primary:hover{
  background-color: #006A85;
}

.keyboard button.primary:active{
  background-color: #339DB8 !important;
}

.keyboard button.primary:active svg path{
  fill: #FFFFFF !important;
}

.heading{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 244px;
  height: 125px;
}

.heading .title p{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #404040;
}

.heading .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading .screen{
  height: 91px;
  background-color: #F9F9F9;
  border-radius: 4px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #CCCCCC;
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  align-items: flex-end;
}

.number-container{
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  overflow: hidden;
}

.error-field{
  color: red;
  font-size: 10px;
  font-weight: bold;
  height: 14px;
}

.showField{
  color: #5e5e5e;
  font-size: 12px;
  height: 16px;
  margin-top: 4px;
}

.result{
  height: 22px;
  font-size: 20px;
}

.history-show{
  cursor: pointer;
  z-index: 1000;
}

.history-show svg{
  pointer-events: none;
}

.history-show:hover svg path{
  fill: #FDB935;
}

.history-toggle:active svg path{
  fill: #dca129;
}

.history-field{
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 260px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0px;
  border-radius: 8px;
  transition: 0.2s ease-out;
  padding: 8px;
  box-sizing: border-box;
  gap: 26px;
}

.history-field.show{
  bottom: 0px;
}

.history-field.hide{
  bottom: -260px;
}

.history-header{
  display: flex;
  justify-content: space-between;
}

.history-header p{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #404040;
}

.left div{
  cursor: pointer;
}

.left div:hover svg path{
  fill: #FDB935;
}

.blur-layout{
  width: 260px;
  height: 400px;
  transition: 0.3s ease-out;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.blur-layout.show{
  background-color: rgba(0,0,0, 0.2);
  backdrop-filter: blur(6px);
}

.blur-layout.hide{
  background-color: rgba(200,200,200, 0);
}

.trash{
  cursor: pointer;
}

.trash svg{
  pointer-events: none;
}

.trash:hover svg path{
  fill: #FDB935;
}

.history-list{
  min-height: 194px;
  overflow-y: auto;
  overflow-x: hidden;
}

.historyList-left{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.historyList-left div p,input{
  border: none;
  font-size: 10px;
  color: #616161;
  height: 14px;
  background-color: rgba(0, 0, 0, 0);
}

input:focus-visible {
  outline: none;
}

.historyList-left div{
  height: 14px;
  display: flex;
  align-items: center;
}

.history-item{
  font-weight: 600;
  color: #484848;
  font-size: 16px;
  max-width: 140px;
  padding-top: 4px;
}

.history-list ul li{
  padding: 4px 8px;
}

.history-list ul li:hover{
  background-color: #ededed;
}

.historyList-right{
  cursor: pointer;
}

.historyList-right svg{
  pointer-events: none;
}

.historyList-right div:hover svg path{
  fill: #FDB935;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  
}